body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: auto;
}
* {
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  background-color: firebrick;
  align-items: center;
  font-size: 30px;
  font-family: roboto;
}
